/*Обнуление*/
*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/*Стили*/
.wrapper{
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
}
.container {
}
.header__body {
  position: relative;
  z-index: 2;

}
.header__logo {
}
.header__burger {
}
.header__menu {
}
.header__list {
}
.header__link {
}
.content {
}
.content__text {

}